.advantages__list {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  @media (min-width: @tablet-width) {
    min-height: 256px;
    border-bottom: none;
    .elements-center();
  }
}

.advantages__services {
  @media (min-width: @tablet-width) {
    grid-column: 1 / -1;
  }
}
