.advantages__list {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item--full-row {
  @media (min-width: @tablet-width) {
    grid-column: 1 / -1;
  }
}

.advantages__services {
  @media (min-width: @tablet-width) {
    grid-column: 1 / -1;
  }
}
