.advantage {
  text-transform: uppercase;
  text-align: center;
  background-color: #eeeeee;

  &--full-row {
    background-color: @light-blue;
    color: #ffffff;
  }
}

.advantage__text-wrapper {
  padding: 24px 20px;
}

.advantage__image-wrapper img {
  display: block;
}

.advantage__title {
  font-size: @large-size;
  line-height: @large-line-height;
}

.advantage__text,
.advantage__number {
  color: #333333;
  font-size: @medium-size;
  line-height: @medium-line-height;
}

.advantage--detailed {
  background-color: @light-blue;
}

.advantage--detailed .advantage__text-wrapper {
  padding: 40px 20px;
}

.advantage--detailed .advantage__title,
.advantage--detailed .advantage__number,
.advantage--detailed .advantage__text {
  color: #ffffff;
}

.advantage--decoration {
  background: @light-blue url("../img/mobile/decorative-triangle-mobile.svg") no-repeat 0 -18px;
}

.advantage--decoration .advantage__text-wrapper {
  padding: 54px 20px 40px;
}
