.card__image-link img {
  display: block;
  margin: 0 auto;
}

.card__text-wrapper {
  padding: 0 18px;
}

.card__title {
  font-size: @medium-size;
  line-height: @medium-line-height;
}

.card__author {
  text-transform: none;
}

.card__likes {
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}
