.card {
  padding: 25px 20px;
  .text-size(14px, 21px);
}

.card__image-link {
  display: block;
  margin-bottom: 15px;
}

.card__image-link img {
  display: block;
  margin: 0 auto;
}

.card__title {
  margin: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.card__author {
  margin: 0;
  margin-bottom: 15px;
  color: @dark-gray;
}

.card__like {
  font-weight: 700;
  text-decoration: none;
  color: @black;
}
