.fieldset {
  border: none;
  margin: 0;
  padding: 0 20px 35px;
}

.fieldset__title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  .text-size(18px, 26px);
  padding: 0;
  padding-top: 24px;
  margin-bottom: 25px;
}

.fieldset__text-input {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.fieldset__radio-input {
  margin-bottom: 36px;

  &:last-child {
    margin-bottom: 0;
  }
}

.fieldset__checkbox-input {
  margin-bottom: 36px;

  &:last-child {
    margin-bottom: 0;
  }
}
