.footer {
  padding: 30px 20px 23px;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 36px 75px;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    padding: 36px 120px;
  }
}

.footer__hashtag {
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}
