.footer {
  padding: 30px 20px 23px;
  text-align: center;
}

.footer__hashtag {
  margin-bottom: 34px;
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;
  margin-bottom: 40px;
}
