.form-review {
  padding: 0 20px 24px;
}

.form-review__button-wrapper {
  margin: 0 auto;
  margin-top: 32px;
  max-width: 768px;
  width: 100%;
}

.form-review__button {
  .button-style();
  width: 100%;
  max-width: 384px;
}

.form-review__meta {
  text-transform: uppercase;
  text-align: right;
  margin: 0;
  .text-size(12px, 21px);
  color: @dark-gray;
  max-width: 384px;
}

@media (min-width: @tablet-width) {
  .form-review {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px 64px;
  }

  .form-review__button-wrapper {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form-review__button {
    width: 50%;
  }
}

@media (min-width: @desktop-width) {
  .form-review {
    padding: 0 120px 64px;
  }
}
