.gallery-photo {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 60px 29px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 0 29px;
  }
}

.gallery-photo__card--full-screen {
  @media (min-width: @tablet-width) {
    grid-column: 1 / -1;
  }
}
