.gallery-video {
  padding: 17px 20px 0;
  text-align: center;
}

.gallery-video__text-wrapper {
  margin: 0 auto;
  margin-bottom: 38px;
  text-transform: uppercase;
  max-width: 445px;
}

.gallery-video__title {
  margin: 0;
  margin-bottom: 35px;
  .text-size(21px, 26px);
}

.gallery-video__text {
  margin: 0;
  .text-size(16px, 24px);
  color: @dark-gray;
}

@media (min-width: @tablet-width) {
  .gallery-video {
    padding: 29px 60px 40px;
  }
}

@media (min-width: @desktop-width) {
  .gallery-video {
    padding: 29px 60px 84px;
  }
}
