.gallery-video__text-wrapper {
  padding: 0 20px;
  text-align: center;
}

.gallery-video__title {
  font-size: @large-size;
  line-height: @large-line-height;
}

.gallery-video img {
  display: block;
  margin: 0 auto;
}
