.hero__image-wrapper {
  padding: 52px 0 67px;
  background: url("../../img/mobile/intro-triangle-mobile.svg") no-repeat bottom, @light-blue url("../../img/mobile/hero-bg-mobile.jpg") no-repeat 100% 100%;

  &--full {
    padding: 90px 0 85px;
    background: url("../../img/mobile/intro-triangle-mobile.svg") no-repeat bottom, @light-blue url("../../img/mobile/hero-bg-mobile.jpg") no-repeat;
  }
}

.hero__image-wrapper img {
  display: block;
  margin: 0 auto;
}

.hero__text-wrapper {
  padding: 32px 20px;
  text-align: center;
}

.hero__title {
  font-size: @large-size;
  line-height: @large-line-height;
  color: #000000;
}

.hero__text {
  color: #333333;
}
