.hero {
  text-align: center;
}

.hero__image-wrapper {
  position: relative;
  padding: 90px 20px 85px;
  background-color: @light-blue;
  background-image: url("../img/mobile/hero-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;

  &--small {
    padding: 50px 20px 65px;
    background-color: @light-blue;
    background-image: url("../img/mobile/hero-bg-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 57px;
    background-image: url("../img/mobile/hero-triangle-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
}

.hero__text-wrapper {
  position: relative;
  padding: 35px 20px;
  text-transform: uppercase;

  &--decoration::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 37px;
    background-color: @light-blue;
    background-image: url("../img/mobile/decorative-triangle-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
}

.hero__title {
  margin: 0;
  margin-bottom: 35px;
  .text-size(18px, 26px);
  color: @black;

  &--margin-smaller {
    margin-bottom: 24px;
  }
}

.hero__text {
  margin: 0;
  .text-size(14px, 21px);
  color: @dark-gray;
}
