.input {
  font-family: inherit;
  .text-size(18px, 26px);
  font-weight: 700;
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
  border: none;
  background-color: #f2f2f2;

  &::placeholder {
    color: fade(@black, 30%);
  }
}
