.label {
  display: block;
}

.label__text {
  color: @dark-gray;
  padding-left: 16px;
  .text-size(14px, 21px);
  text-transform: uppercase;

  &--bold {
    font-weight: 700;
    .text-size(18px, 26px);
    text-transform: none;
  }
}

.label__textarea {
  display: block;
  box-sizing: border-box;
  padding: 16px;
  width: 280px;
  min-height: 150px;
  resize: none;
  .text-size(18px, 26px);
  font-family: inherit;
  background-color: #f2f2f2;
}
