.navigation__list {
  &--hidden {
    display: none;
  }
}

.navigation__link {
  background-color: @light-blue;

  font-size: @large-size;
  line-height: @large-line-height;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
}
