.navigation {
  .text-size(18px, 26px);
  position: relative;
}

.navigation__menu-button {
  .menu-button-style();
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  &--hidden {
    display: none;
  }
}

.navigation__link {
  .navigation-link-style();
}
