.search {
  text-transform: uppercase;
  text-align: center;
  padding: 40px 20px 50px;

  @media (min-width: @tablet-width) {
    padding: 60px 0;
  }
}

.search__text-wrapper {
  margin: 0 auto 30px;
  max-width: 440px;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
  }
}

.search__title {
  margin: 0;
  margin-bottom: 30px;
  .text-size(21px, 26px);
}

.search__text {
  margin: 0;
  .text-size(14px, 21px);
  color: @dark-gray;
}

.search__button {
  .button-style();
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
}
