.search {
  text-transform: uppercase;
  text-align: center;
  padding: 40px 20px 50px;
}

.search__text-wrapper {
  margin-bottom: 30px;
}

.search__title {
  margin: 0;
  margin-bottom: 30px;
  .text-size(21px, 26px);
}

.search__text {
  margin: 0;
  .text-size(14px, 21px);
  color: @dark-gray;
}
