.service {
  position: relative;
}

.service__title {
  font-size: @large-size;
  line-height: @large-line-height;
}

.service__description-wrapper {
  padding: 25px 20px 0 65px;
}

.service__image-wrapper {
  position: absolute;
  top: 25px;
  left: 18px;
}

.service__description {
  color: #333333;
}
