.service {
  position: relative;
  text-transform: uppercase;
  margin-bottom: 25px;

  &--last {
    margin-bottom: 0;
  }
}

.service__image-wrapper {
  position: absolute;
  top: -5px;
}

.service__text-wrapper {
  padding-left: 45px;
}

.service__title {
  margin: 8px 0 16px;
  font-size: @large-size;
  line-height: @large-line-height;
}

.service__text {
  margin: 0;
  font-size: @medium-size;
  line-height: @medium-line-height;
  color: #333333;
}
