.service {
  position: relative;
  text-transform: uppercase;
  padding: 25px 20px 0;

  &--last {
    padding-bottom: 45px;
  }
}

.service__image-wrapper {
  position: absolute;
}

.service__text-wrapper {
  padding-left: 45px;
}

.service__title {
  font-size: @large-size;
  line-height: @large-line-height;
}

.service__text {
  font-size: @medium-size;
  line-height: @medium-line-height;
  color: #333333;
}
