.textarea {
  resize: none;
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
  min-height: 150px;
  border: none;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  &::placeholder {
    color: fade(#000000, 30%);
  }
}
