.text-input__label {
  color: @dark-gray;
  padding-left: 16px;
  .text-size(14px, 21px);
  text-transform: uppercase;
}

.text-input__input {
  .input-style();
  width: 100%;
  .text-size(18px, 26px);

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    outline: 4px solid #e5e5e5;
    background-color: #f2f2f2;
  }
}

.text-input__input-wrapper {
  display: flex;
}

.text-input__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 58px;
  height: 58px;
  background-color: #e6e6e6;
}
