.text-input__label {
  color: @dark-gray;
  padding-left: 16px;
  .text-size(14px, 21px);
  text-transform: uppercase;
}

.text-input__input {
  .input-style();
  width: 100%;
  .text-size(18px, 26px);
}
