.video {
  position: relative;
}

.video__image-wrapper img {
  display: block;
}

.video__play-button {
  .absolute-center();
  display: block;
  .size(48px, 54px);
  background: transparent url("../img/play-button.svg") no-repeat;
  border: none;
  cursor: pointer;
}
