.video {
  position: relative;
}

.video__image-wrapper img {
  display: block;
}

.video__play-button {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 48px;
  height: 54px;
  background: transparent url("../img/play-button.svg") no-repeat;
  border: none;
}
