.video {
  position: relative;
  .elements-center();
}

.video__play-button {
  position: absolute;
  display: block;
  .size(48px, 54px);
  background: transparent url("../img/play-button.svg") no-repeat;
  border: none;
  cursor: pointer;

  &:focus-visible {
    outline: 2px solid @black;
  }
}

.video video {
  aspect-ratio: 1.58;
  .size(100%, 100%);
  max-width: 800px;
  margin: 0 auto;

  background-color: @tertiary-color;
  background-image: url("../img/video-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @supports (background: url("../img/video-mobile.webp")) {
    background-image: url("../img/video-mobile.webp");
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/video-mobile@2x.jpg");

    @supports (background: url("../img/video-mobile@2x.webp")) {
      background-image: url("../img/video-mobile@2x.webp");
    }
  }

  @media (min-width: 768px) {
    background-image: url("../img/video-tablet.jpg");

    @supports (background: url("../img/video-tablet.webp")) {
      background-image: url("../img/video-tablet.webp");
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/video-tablet@2x.jpg");

      @supports (background: url("../img/video-tablet@2x.webp")) {
        background-image: url("../img/video-tablet@2x.webp");
      }
    }
  }

  @media (min-width: 1200px) {
    background-image: url("../img/video-desktop.jpg");

    @supports (background: url("../img/video-desktop.webp")) {
      background-image: url("../img/video-desktop.webp");
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/video-desktop@2x.jpg");

      @supports (background: url("../img/video-desktop@2x.webp")) {
        background-image: url("../img/video-desktop@2x.webp");
      }
    }
  }

  @media (min-width: @tablet-width) {
    height: 500px;
  }
}
