@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}
body {
  margin: 0;
}
img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
a {
  text-decoration: none;
}
.page__body {
  max-width: 1200px;
  background-color: #f2f2f2;
  font-family: "PT Sans", "Arial", sans-serif;
  margin: 0 auto;
}
.page__wrapper {
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}
.header {
  min-height: 56px;
  display: flex;
  flex-direction: column;
}
.header__logo {
  width: 185px;
  height: 96px;
  align-self: center;
  position: absolute;
  z-index: 1;
}
.header__logo:focus-visible {
  outline: 2px solid #000000;
}
.header--no-js .header__logo {
  position: static;
}
@media (min-width: 768px) {
  .header--no-js .header__logo {
    position: absolute;
  }
}
.navigation {
  font-size: 18px;
  line-height: 26px;
  position: relative;
}
.navigation__list {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
  z-index: 1;
}
.navigation__list--opened {
  display: block;
}
.navigation__list::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  bottom: 0;
}
@media (min-width: 768px) {
  .navigation__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    z-index: 0;
  }
  .navigation__list::before {
    display: none;
  }
}
.navigation--no-js .navigation__list {
  display: block;
  position: static;
}
@media (min-width: 768px) {
  .navigation--no-js .navigation__list {
    display: flex;
  }
}
.navigation__menu-button {
  width: 56px;
  height: 56px;
  position: relative;
  background-color: transparent;
  border: none;
  padding: 17px 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.navigation__menu-button::before {
  content: "";
  position: absolute;
  background-color: #81b3d2;
  height: 4px;
  top: 17px;
  left: 13px;
  right: 20px;
  box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
}
.navigation__menu-button:hover {
  opacity: 0.6;
}
.navigation__menu-button:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .navigation__menu-button {
    display: none;
  }
}
.navigation--no-js .navigation__menu-button {
  display: none;
}
.navigation__list--opened + .navigation__menu-button::before,
.navigation__list--opened + .navigation__menu-button::after {
  content: "";
  position: absolute;
  top: 28px;
  left: 9px;
  right: 16px;
  height: 4px;
  background-color: #ffffff;
  box-shadow: none;
}
.navigation__list--opened + .navigation__menu-button::before {
  transform: rotate(45deg);
}
.navigation__list--opened + .navigation__menu-button::after {
  transform: rotate(-45deg);
}
.navigation__link {
  display: block;
  padding: 17px 20px 12px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  box-sizing: border-box;
  min-height: 56px;
  box-shadow: inset 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.2);
}
.navigation__link:first-child {
  box-shadow: none;
}
.navigation__link:hover {
  background-color: #669ec0;
}
.navigation__link:focus-visible {
  background-color: #669ec0;
  outline: none;
}
.navigation__link:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .navigation__link {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
    box-shadow: none;
    width: 20%;
  }
  .navigation__link:nth-child(4n + 2) {
    margin-right: 20%;
  }
  .navigation__link--current {
    color: #766357;
  }
  .navigation__link:hover {
    background-color: #ffffff;
    color: #81b3d2;
  }
  .navigation__link:focus-visible {
    background-color: #f2f2f2;
    color: #81b3d2;
  }
  .navigation__link:active {
    background-color: #ffffff;
    color: #b3b3b3;
  }
}
.hero {
  text-align: center;
  position: relative;
}
.hero--decoration::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 37px;
  background-color: #81b3d2;
  background-image: url("../img/decorative-triangle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
@media (min-width: 768px) {
  .hero--decoration::before {
    display: none;
  }
}
.hero--border {
  border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .hero--border {
    border-bottom: none;
  }
}
.hero__image {
  max-width: 282px;
  max-height: 214px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .hero__image {
    max-width: 460px;
    max-height: 350px;
  }
}
.hero__image-wrapper {
  position: relative;
  padding: 90px 20px 85px;
  background-color: #81b3d2;
  background-image: url("../img/hero-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero__image-wrapper--small {
  padding: 50px 45px 65px;
  background-color: #81b3d2;
  background-size: auto;
  background-position: center bottom;
}
@media (min-width: 768px) {
  .hero__image-wrapper--small {
    padding: 95px 20px 120px;
    background-position: center bottom;
  }
}
.hero__image-wrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 57px;
  background-color: transparent;
  background-image: url("../img/hero-triangle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
@media (min-resolution: 2dppx) {
  .hero__image-wrapper {
    background-image: url("../img/hero-bg-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .hero__image-wrapper {
    background-image: url("../img/hero-bg-tablet.jpg");
  }
}
@media (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__image-wrapper {
    background-image: url("../img/hero-bg-tablet@2x.jpg");
  }
}
.hero__text-wrapper {
  position: relative;
  box-sizing: border-box;
  max-width: 500px;
  margin: 0 auto;
  padding: 35px 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .hero__text-wrapper {
    padding: 50px 20px;
  }
}
.hero__title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.hero__title--margin-smaller {
  margin-bottom: 24px;
}
.hero__text {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
@media (min-width: 768px) {
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 768px) {
  .advantages__item--full-row {
    grid-column: 1 / -1;
  }
}
@media (min-width: 768px) {
  .advantages__services {
    grid-column: 1 / -1;
  }
}
.advantage {
  text-transform: uppercase;
  text-align: center;
  background-color: #eeeeee;
  border-bottom: 1px solid #dbdbdb;
}
.advantage:last-child {
  border-bottom: none;
}
.advantage--detailed {
  background-color: #81b3d2;
  border-bottom: none;
}
@media (min-width: 768px) {
  .advantage--detailed {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .advantage--reversed {
    flex-direction: row-reverse;
  }
}
@media (min-width: 768px) {
  .advantage {
    border-bottom: none;
  }
}
@media (min-width: 768px) {
  .advantage--detailed .advantage__text-wrapper {
    width: calc(100% / 3);
  }
}
.advantage__image-wrapper {
  flex-grow: 1;
  margin: 0 auto;
  height: 260px;
}
@media (min-width: 768px) {
  .advantage__image-wrapper {
    width: calc(100% / 1.5);
    height: 100%;
  }
}
.advantage__text-wrapper {
  box-sizing: border-box;
  padding: 24px 20px;
}
@media (min-width: 768px) {
  .advantage__text-wrapper {
    padding: 42px 33px;
  }
}
@media (min-width: 1200px) {
  .advantage__text-wrapper {
    padding: 50px;
  }
}
.advantage__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .advantage__title {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 26px;
  }
}
.advantage__text,
.advantage__number {
  margin: 0;
  color: #333333;
  font-size: 14px;
  line-height: 21px;
}
.advantage__number {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .advantage__number {
    margin-bottom: 20px;
  }
}
.advantage--detailed .advantage__title,
.advantage--detailed .advantage__number,
.advantage--detailed .advantage__text {
  color: #ffffff;
}
.services {
  padding: 25px 20px 45px;
}
@media (min-width: 768px) {
  .services {
    padding: 0;
  }
}
.services__item {
  margin-bottom: 25px;
}
.services__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .services__item {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .services__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.service {
  position: relative;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .service {
    padding: 0 34px 60px;
  }
}
.service__image-wrapper {
  position: absolute;
  width: 40px;
  height: 40px;
}
@media (min-width: 768px) {
  .service__image-wrapper {
    top: 60px;
    left: 50%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
  }
}
.service__image-wrapper img {
  object-fit: contain;
}
.service__text-wrapper {
  padding-top: 8px;
  padding-left: 45px;
}
@media (min-width: 768px) {
  .service__text-wrapper {
    margin-top: 160px;
    text-align: center;
    padding: 0;
  }
}
.service__title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .service__title {
    margin-bottom: 22px;
  }
}
.service__text {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.search {
  text-transform: uppercase;
  text-align: center;
  padding: 40px 20px 50px;
}
@media (min-width: 768px) {
  .search {
    padding: 60px 0;
  }
}
.search__text-wrapper {
  margin: 0 auto 30px;
  max-width: 440px;
}
@media (min-width: 768px) {
  .search__text-wrapper {
    margin-bottom: 40px;
  }
}
.search__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 21px;
  line-height: 26px;
}
.search__text {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.search__button {
  display: block;
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  padding: 16px 0;
  cursor: pointer;
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
}
.search__button:hover {
  background-color: #669ec0;
}
.search__button:focus {
  background-color: #669ec0;
}
.search__button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.search__button:disabled {
  background-color: #e5e5e5;
}
.map iframe {
  width: 100%;
  height: 350px;
}
.card {
  position: relative;
  padding: 25px 20px;
  border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .card {
    padding: 0;
    border-bottom: none;
  }
}
@media (min-width: 768px) {
  .card__text-wrapper {
    box-sizing: border-box;
    width: 100%;
    padding: 22px 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
  }
}
@media (min-width: 1200px) {
  .card__text-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
  }
}
.card__image-link {
  display: block;
  width: 100%;
  height: 280px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .card__image-link {
    height: 267px;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .card:first-of-type .card__image-link {
    height: 400px;
  }
}
.card__title {
  margin: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
}
@media (min-width: 768px) {
  .card__title {
    margin-bottom: 0;
  }
}
.card__author {
  margin: 0;
  margin-bottom: 15px;
  color: #333333;
  font-size: 14px;
  line-height: 21px;
}
@media (min-width: 768px) {
  .card__author {
    margin-bottom: 0;
  }
}
.card__likes {
  font-weight: 700;
  color: #000000;
}
.card__likes svg {
  fill: rgba(0, 0, 0, 0.3);
}
@media (min-width: 1200px) {
  .card__likes svg {
    fill: #ffffff;
  }
}
.card__likes-count {
  margin-left: 5px;
}
@media (min-width: 1200px) {
  .card__text-wrapper .card__likes,
  .card__text-wrapper .card__author {
    color: #ffffff;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .card:nth-child(2n):not(:first-child) .card__text-wrapper {
    background-color: #eaeaea;
  }
}
@media (min-width: 768px) {
  .gallery-photo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 60px 29px;
  }
}
@media (min-width: 1200px) {
  .gallery-photo {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 0 29px;
  }
}
@media (min-width: 768px) {
  .gallery-photo__card--full-screen {
    grid-column: 1 / -1;
  }
}
.gallery-video {
  padding: 17px 20px 0;
  text-align: center;
}
@media (min-width: 768px) {
  .gallery-video {
    padding: 29px 60px 40px;
  }
}
@media (min-width: 1200px) {
  .gallery-video {
    padding: 29px 200px 40px;
  }
}
.gallery-video__text-wrapper {
  margin: 0 auto;
  margin-bottom: 38px;
  text-transform: uppercase;
  max-width: 445px;
}
@media (min-width: 768px) {
  .gallery-video__text-wrapper {
    margin-bottom: 65px;
  }
}
.gallery-video__title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 21px;
  line-height: 26px;
}
.gallery-video__text {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}
.video {
  position: relative;
}
.video__play-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: block;
  width: 48px;
  height: 54px;
  background: transparent url("../img/play-button.svg") no-repeat;
  border: none;
  cursor: pointer;
}
.video__play-button:focus {
  outline: 2px solid #000000;
}
.video video {
  aspect-ratio: 1.58;
  width: 100%;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #e5e5e5;
  background-image: url("../img/video-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-resolution: 2dppx) {
  .video video {
    background-image: url("../img/video-mobile@2x.jpg");
  }
}
@media (min-width: 321px) {
  .video video {
    background-image: url("../img/video-tablet.jpg");
  }
}
@media (min-width: 321px) and (min-resolution: 2dppx) {
  .video video {
    background-image: url("../img/video-tablet@2x.jpg");
  }
}
@media (min-width: 769px) {
  .video video {
    background-image: url("../img/video-desktop.jpg");
  }
}
@media (min-width: 769px) and (min-resolution: 2dppx) {
  .video video {
    background-image: url("../img/video-desktop@2x.jpg");
  }
}
@media (min-width: 768px) {
  .video video {
    height: 500px;
  }
}
.form-review {
  padding: 0 0 24px;
}
@media (min-width: 768px) {
  .form-review {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px 64px;
  }
}
@media (min-width: 1200px) {
  .form-review {
    padding: 0 120px 64px;
  }
}
.form-review__button-wrapper {
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 32px;
  max-width: 384px;
  box-sizing: border-box;
  width: 100%;
}
@media (min-width: 768px) {
  .form-review__button-wrapper {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 768px;
    padding: 0;
  }
}
.form-review__button {
  display: block;
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  padding: 16px 0;
  cursor: pointer;
  width: 100%;
  max-width: 384px;
}
.form-review__button:hover,
.form-review__button:focus {
  background-color: #669ec0;
}
.form-review__button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.form-review__button:disabled {
  background-color: #e5e5e5;
}
@media (min-width: 768px) {
  .form-review__button {
    width: 50%;
  }
}
.form-review__meta {
  text-transform: uppercase;
  text-align: right;
  margin: 0;
  font-size: 12px;
  line-height: 21px;
  color: #333333;
  max-width: 384px;
}
.fieldset {
  border: none;
  border-bottom: 1px solid #dbdbdb;
  margin: 0;
  padding: 0 20px;
  padding-bottom: 39px;
}
@media (min-width: 768px) {
  .fieldset--full-screen {
    grid-column: 1 / -1;
  }
}
@media (min-width: 768px) {
  .fieldset--text-input:nth-child(2n) {
    padding-left: 43px;
    border-left: 1px solid #dbdbdb;
    margin-bottom: 48px;
  }
}
@media (min-width: 1200px) {
  .fieldset--text-input:nth-child(2n) {
    padding-left: 63px;
  }
}
@media (min-width: 768px) {
  .fieldset--text-input {
    padding: 0;
    padding-bottom: 13px;
  }
}
@media (min-width: 768px) {
  .fieldset--text-input:nth-child(2n - 1) {
    padding-right: 43px;
    margin-bottom: 48px;
  }
}
@media (min-width: 1200px) {
  .fieldset--text-input:nth-child(2n - 1) {
    padding-right: 63px;
  }
}
@media (min-width: 768px) {
  .fieldset--radio {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 280px 280px;
    row-gap: 36px;
    padding: 0 36px 58px;
  }
}
@media (min-width: 1200px) {
  .fieldset--radio {
    display: flex;
    justify-content: space-between;
    padding: 0 53px 73px;
  }
}
@media (min-width: 768px) {
  .fieldset--checkbox {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 224px 224px;
    row-gap: 36px;
    padding: 0 84px 52px;
  }
}
@media (min-width: 1200px) {
  .fieldset--checkbox {
    display: flex;
    justify-content: space-between;
    padding: 0 45px 87px;
  }
}
@media (min-width: 768px) {
  .fieldset--textarea {
    padding-left: 0;
    padding-right: 0;
  }
}
.fieldset:last-of-type {
  border-bottom: none;
}
@media (min-width: 768px) {
  .fieldset {
    border-bottom: none;
  }
  .fieldset:not(.fieldset--text-input) {
    border-top: 1px solid #dbdbdb;
  }
}
@media (min-width: 768px) {
  .fieldset--full-screen .fieldset__title {
    padding: 0 70px;
  }
}
@media (min-width: 1200px) {
  .fieldset--textarea .fieldset__title {
    margin-bottom: 28px;
  }
}
.fieldset__title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-top: 24px;
  margin-bottom: 25px;
}
@media (min-width: 1200px) {
  .fieldset__title {
    margin-bottom: 50px;
  }
}
.fieldset__text-input {
  margin-bottom: 16px;
  max-width: 480px;
}
.fieldset__text-input:last-child {
  margin-bottom: 0;
}
.fieldset__radio-input {
  margin-bottom: 36px;
}
.fieldset__radio-input:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .fieldset__radio-input {
    margin-bottom: 0;
  }
}
.fieldset__checkbox-input {
  margin-bottom: 36px;
}
.fieldset__checkbox-input:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .fieldset__checkbox-input {
    margin-bottom: 0;
  }
}
.text-input__label {
  color: #333333;
  padding-left: 16px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
.text-input__input {
  display: block;
  font-family: inherit;
  font-weight: 700;
  padding: 16px;
  box-sizing: border-box;
  border: none;
  background-color: #f2f2f2;
  width: 100%;
  font-size: 18px;
  line-height: 26px;
}
.text-input__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.text-input__input:hover {
  background-color: #e5e5e5;
}
.text-input__input:focus {
  outline: 4px solid #e5e5e5;
  background-color: #f2f2f2;
}
.text-input__input-wrapper {
  display: flex;
}
.text-input__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 58px;
  height: 58px;
  background-color: #e6e6e6;
}
.radio-input {
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.radio-input:hover .radio-input__text::before {
  background-color: #e5e5e5;
}
.radio-input:active .radio-input__text::before {
  background-color: #d5d5d5;
}
.radio-input:active .radio-input__text::after {
  opacity: 0.3;
}
.radio-input__text {
  padding-left: 62px;
  min-height: 46px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.radio-input__text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #f2f2f2;
}
.radio-input__text::after {
  content: "";
  display: none;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 15px;
  left: 15px;
  border-radius: 50%;
  background-color: #333333;
}
.radio-input__input:focus + .radio-input__text::before {
  background-color: #e5e5e5;
}
.radio-input__input:checked + .radio-input__text::after {
  display: block;
}
.checkbox-input {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.checkbox-input:hover .checkbox-input__text::before {
  background-color: #e5e5e5;
}
.checkbox-input:active .checkbox-input__text::before {
  background-color: #d5d5d5;
}
.checkbox-input:active .checkbox-input__text::after {
  opacity: 0.3;
}
.checkbox-input__input:focus + .checkbox-input__text::before {
  background-color: #e5e5e5;
}
.checkbox-input__text {
  position: relative;
  padding-left: 62px;
  min-height: 46px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.checkbox-input__text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: #f2f2f2;
}
.checkbox-input__text::after {
  content: "";
  position: absolute;
  display: none;
  width: 22px;
  height: 16px;
  top: 15px;
  left: 12px;
  background-image: url("../img/tick.svg");
}
.checkbox-input__input:checked + .checkbox-input__text::after {
  display: block;
}
.textarea-input__textarea {
  resize: none;
  display: block;
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  min-height: 150px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
}
.textarea-input__textarea::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.textarea-input__textarea:hover {
  background-color: #e5e5e5;
}
.textarea-input__textarea:focus {
  outline: 4px solid #e5e5e5;
}
.footer {
  padding: 30px 20px 23px;
  text-align: center;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    padding: 36px 75px;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding: 36px 120px;
  }
}
.footer__hashtag {
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .footer__hashtag {
    margin-bottom: 0;
  }
}
.footer__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  margin: 0 auto;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .footer__social {
    margin-bottom: 0;
  }
}
.hashtag {
  color: #000000;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
.social {
  max-width: 264px;
}
.social__link {
  position: relative;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__link:hover,
.social__link:focus {
  background-color: #669ec0;
}
.social__link:active {
  background-color: #5496bd;
}
.social__link:active svg {
  opacity: 0.3;
}
.copyright {
  text-transform: uppercase;
}
.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}
.copyright__link:hover,
.copyright__link:focus {
  color: #81b3d2;
}
.copyright__link:active {
  color: #b3b3b3;
}
/*# sourceMappingURL=style.css.map */
